body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8C8DC;
    background-image: url('../images/1600w-XTPYrqTqYIE.webp');
    background-size: cover;
}

#yesBtn {
    position: absolute;
    /* Smooth movement */
}

.header_text{
    font-family: 'Nunito';
    font-size: 10vw;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 0px;

    /* Add text shadow for thickness and dark pink lining */
    text-shadow: 1px 0px 4px #ff6ebb;

}

.text {
    font-family: 'Nunito';
    font-size: 8vw;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 0px;

    /* Add text shadow for thickness and dark pink lining */
    text-shadow: 1px 0px 4px #ff6ebb;
}

.container{
    margin-left: auto;
    margin-right: auto;
}
.img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 90vw;
}

.image{
    max-width: 100%;  
    height: auto;
    margin-bottom: 2vh;
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .image {
        max-width: 1%;
    }
}