body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8C8DC;
    background-image: url('../images/new-bg.jpg');
    background-size: fill;
}

.header_text{
    font-family: 'Nunito';
    font-size: 14vw;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;

    /* Add text shadow for thickness and dark pink lining */
    text-shadow: 5px 1px 8px #FF5C75;

}

.text {
    font-family: 'Nunito';
    font-size: 8vw;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 0px;

    /* Add text shadow for thickness and dark pink lining */
    text-shadow: 5px 1px 8px #FF5C75;
}

.img_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
